body {
  font-family: Arial;
  background: #f4f4f4;
}

.auth-box {
  width: 320px;
  margin: 100px auto;
  background: #fff;
  padding: 20px;
  border-radius: 6px;
}

input, button {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

button {
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.switch {
  text-align: center;
  margin-top: 10px;
}

.switch span {
  color: blue;
  cursor: pointer;
}

.hidden {
  display: none;
}
